{% extends 'base.html.twig' %}

{% block title %}Cadex Group!{% endblock %}

{% block body %}
<!-- Scroll to top btn -->

<header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
    <img class="w3-image" src="{{ asset('img/header.jpg') }}" alt="header" width="1500" height="700">
    <div class="w3-display-middle" style="width:65%">
</header>



        <div class="dropdown-divider m-5"></div>

        <div class="row py-5">
            <div class="col-12">
                
            </div>
        </div>
        <!-- Page content -->
<div class="w3-content w3-light-grey" style="max-width:1100px;">
<h1 class="text-center">Vos Experts du Marché de L'immobilier</h1>
<p>Armés d'une connaissance approfondie de l’industrie immobilière, nous nous dédions au succès de nos clients lors de l’achat, de la
 location et de la vente de leurs propriétés. Nos équipes experts sont passionnés par la recherche de maisons  à l’échelle sous-régionale.</p>
        
    </div>
       
    </div>

{% endblock %}







