{% extends 'base.html.twig' %}

{% block title %}Nouveau Terrain{% endblock %}

{% block body %}
<div class="col-md-8 offset-sm-3 p-2">

    <a href="javascript:history.back()"><i class="fa fa-arrow-left" style="font-size:36px"></i></a>

    <h1>Créer un terrain</h1>

    {{ include('terrain/_form.html.twig') }}
</div>

{% endblock %}
