{% extends 'base.html.twig' %}

{% block title %}Villa{% endblock %}

{% block body %}
    <h1>Voir les Villas</h1>

    {{ include('villa/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('villa_index') }}">Retour à la liste</a>

    {{ include('villa/_delete_form.html.twig') }}
{% endblock %}
