{% extends 'base.html.twig' %}

{% block title %}Villa{% endblock %}

{% block body %}
    <h1>Ajout d'une villa</h1>

    {{ include('villa/_form.html.twig') }}

    <a href="{{ path('villa_index') }}">Retour à la liste</a>
{% endblock %}
