<p>
    <b>Coordonées du vendeur:</b>
    <ul>
        <li>Nom : {{ nom|upper }} {{ prenom }}</li>
        <li>Email : {{ email }}</li>
    </ul>
</p>

<p><b>Message :</b></p>

<p>{{ message|nl2br }}</p>