{% extends 'base.html.twig' %}

{% block title %}{% trans %}Hello AcheterController!{% endtrans %}{% endblock %}

{% block body %}

{% for appartement in appartement %}

    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ appartement.prix }}</div>
        <div class="card-body">
            <h4 class="card-title">{{ appartement.titre }}</h4>
            <p class="card-text">{{ appartement.description }}</p>
        </div>
    </div>
    
{% endfor %}

{% endblock %}

