{% extends 'base.html.twig' %}

{% block title %}MentionsLegales!{% endblock %}

{% block body %}
<h1 class="red">Mentions légales</h1>

<h3>Informations sur l'éditeur du site</h3>

<h3>Copyright</h3>

<h3>Responsabilité quand au contenu</h3>

{% endblock %}
